.corpo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.corpo-item_cabecalho {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corpo-item_texto {
  margin-top: 8px;
  font-size: 1em;
}

.corpo-item_rodape {
  margin-top: 8px;
  font-size: 0.8em;
}

.corpo-item_titulo {
  font-size: 1.5em;
  margin-right: 12px;
}

.corpo-item_subtitulo {
  font-size: 1.0em;
  margin-top: 3px;
}
